@model FeedbackService.Models.Feedback
@using FeedbackService.Models

@{
    Layout = null;
}

<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
<channel>
<title>Feedback Service</title>
<link>@Url.Action("Feedback", "Feed", new { id = Model.FeedbackId })</link>
<description>Комментарии для отзыва</description>
<lastBuildDate>@Model.Comments.OrderBy(c => c.Timestamp).First().Timestamp.ToUniversalTime().ToString("r")</lastBuildDate>
<language>ru-ru</language>
@foreach (Comment c in Model.Comments) {
    <item>
    <title><%= Html.Encode(p.Title) %></title>
    <link>@Url.Action("Details", "Feedback", new { id = Model.FeedbackId })</link>
    <guid>@c.CommentId</guid>
    <pubDate>@c.Timestamp</pubDate>
    <description>@c.Message</description>
    </item>
}
</channel>
</rss>
