@model FeedbackService.Models.Feedback

@{
    ViewBag.Title = "Удаление отзыва";
}

<h2>@ViewBag.Title</h2>

<h3>Правда удалить?</h3>
<fieldset>
    <legend>Feedback</legend>

    <div class="display-label">Сайт</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Site.Url)
    </div>

    <div class="display-label">Заголовок</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">Сообщение</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Message)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>

        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("Назад к списку отзывов", "Details", "Site", new { id = Model.SiteId }, null) | 
        @Html.ActionLink("Назад к отзыву", "Details", "Feedback", new { id = Model.FeedbackId }, null)
    </p>
}
