@model IEnumerable<FeedbackService.Models.Feedback>


<div id="topFeedback">
@Ajax.ActionLink("Click here to see the top feedbacks",
    "TopFeedbacks", new AjaxOptions
    {
    UpdateTargetId = "topFeedback",
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "GET",
    LoadingElementId = "progress"
    //OnSuccess = ""
})
</div>

<script id="searchTemplate" type="text/x-jquery-tmpl">
<tr>
    <td>
        ${Message}
    </td>
</tr>
</script>

<div id="progress">
<img src="@Url.Content("~/Content/themes/base/images/ajax-br.gif")" alt="loading" />
</div>

@*@using (Ajax.BeginForm("Search", new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "searchResults"
    }))
    {
    <input type="text" name="q" data-autocomplete="@Url.Action("QuickSearch")" />
    <input type="submit" value="Search" />
    }*@

    <form method="get" action="@Url.Action("JsonSearch")" id="searchForm">
<input type="text" name="q" data-autocomplete="@Url.Action("QuickSearch")" />
    <input type="submit" value="Search" />
    </form>
        
<table>
<thead>
<th>Name</th>
<th>
Address
</th>
</thead>
<tbody id="searchResults">
</tbody>
</table>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Site
        </th>
        <th>
            EvaluationId
        </th>
        <th>
            Proposed
        </th>
        <th>
            Message
        </th>
        <th>
            NumberRatesUp
        </th>
        <th>
            NumberRatesDown
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Site.Url)
        </td>
        <td>
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proposed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberRatesUp)
        </td>
        <td>
            
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FeedbackId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FeedbackId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FeedbackId })
        </td>
    </tr>
}

</table>
