@model IEnumerable<FeedbackService.Models.Feedback>
@using FeedbackService.Helpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>IndexPartial</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table>
        <tr>
            <th>
                FeedbackTypeId
            </th>
            <th>
                Title
            </th>
            <th>
                Message
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FeedbackTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.FeedbackId }) |
                @Html.ActionLink("Details", "Details", new { id=item.FeedbackId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.FeedbackId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
